<div>
    <div class="main">
        <h1>Welcome to War</h1>
        <p>Apart of my Q4 goal one of the tasks was to create a small project using angular to get used to the new/modern Angular that we are moving towards in the future</p>
    </div>
    <div class="button-container">
        <div class="container">
            <div class="cube">
                <div class="top"></div>
                <div>
                    <span style="--side:0"></span>
                    <span style="--side:1"></span>
                    <span style="--side:2"></span>
                    <span style="--side:3"></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="grid-container">
            <div>
                <button class="btn1" routerLink="/rules">Rules</button>
            </div>
            <div class="grid-item">
                <a class="neon-button" routerLink="/play">Play War</a>
            </div>
        </div>
    </div>
</div>